doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Test 1
    link(rel='stylesheet', href='./css/test1.css')
  body
    h1 Test 1

    input#input(type='text' autofocus=true placeholder='Start, Stop, Step')
    button#btn Odd 4th

    #container

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/test1.js')
